<section class="help view-wrap">

	<div class="title-wrap">
		<h1 class="view-title">About</h1>
	</div>

	<div class="contents">
		<h2>Free Online Tarot Reader</h2>
		<p>Created by Keenan Staffieri.</p>
		<p>This is a work in progress. Stay tuned for more features!</p>
		<p>Feel free to <a href="http://keenanstaffieri.com/contact/" target="_blank">contact</a> me if you have any comments or recommendations.</p>
		<br>
		<hr>
		<h3>Website</h3>
		<a href="http://keenanstaffieri.com/" target="_blank">keenanstaffieri.com</a>
		<h3>Twitter</h3>
		<a href="https://twitter.com/keenode" target="_blank">@keenode</a>
		<hr>
	</div>

</section>